:root {
  --radius: 12px;
  --radius-avatar: 50%;
  --base-400: #999999;
}


.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.radius {
  border-radius: var(--radius)
}
.radius-avatar {
  border-radius: var(--radius-avatar)
}
.font-buttons {
  font-weight: 600;
  font-size: 16px;
}

.font-color-secondary {
  color: var(--base-400)
}

.font-wight-500 {
  font-weight: 500;
}