:root {
  --radius: 12px;
  --radius-img: 8px;
  --radius-avatar: 50%;
  --base-400: #999999;
  --base-420: #F3F4F5;
  --white: #f9f9f9;
}

body {
  background-color: var(--base-420);
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.radius {
  border-radius: var(--radius)
}

.radius-img {
  border-radius: var(--radius-img)
}

.radius-avatar {
  border-radius: var(--radius-avatar)
}

.font-buttons {
  font-weight: 600;
  font-size: 16px;
}

.font-color-secondary {
  color: var(--base-400)
}

.font-wight-500 {
  font-weight: 500;
}

h2 {
  font-size: 40px;
  font-weight: 500;
  color: var(--base-400);
}


.card {
  background-color: var(--white);
  padding: 12px 12px 12px 12px;
  margin: 0 0 2px 0;
}

p {
  margin: 0;
  padding: 0 0 8px 0;
  font-size: 20px;
  font-weight: 400;
}

h3 {
  margin: 0;
  padding: 0 0 8px 0;
  font-size: 24px;
  font-weight: 600;
}

.text-caption {
  color: var(--base-400);
}

.link {
  color: var(--base-400);
  font-size: 20px;
  font-weight: 500;
}

li {
  margin: 4px 0 0 0;
  font-size: 20px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.line-long::after {
  width: 100%;
}

.h1-subtitle {
  width: 60%;
}

@media(max-width: 768px) {
  .uk-heading-medium {
    font-size: 2.2rem;
  }
  p {
font-size: 16px;
  }
  .h1-subtitle {
    width: 100%;
  }

}